/* line 2, ../../../app/stylesheets/base/_native.sass */
a:link, a:visited {
  color: #4b7092;
  text-decoration: none;
}
/* line 8, ../../../app/stylesheets/base/_native.sass */
a:link:-moz-read-write {
  color: #4b7092 !important;
  text-decoration: none !important;
}
/* line 11, ../../../app/stylesheets/base/_native.sass */
a:hover, a:active, a:focus {
  text-decoration: underline;
}
/* line 15, ../../../app/stylesheets/base/_native.sass */
a.external:hover, a.external:focus, a.external:active {
  text-decoration: none;
}
/* line 17, ../../../app/stylesheets/base/_native.sass */
a.external:hover span, a.external:focus span, a.external:active span {
  text-decoration: underline;
}
/* line 19, ../../../app/stylesheets/base/_native.sass */
a.external:hover span.ui-icon-extlink, a.external:focus span.ui-icon-extlink, a.external:active span.ui-icon-extlink {
  text-decoration: none;
}
/* line 21, ../../../app/stylesheets/base/_native.sass */
a.external span.ui-icon-extlink {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}

/* line 26, ../../../app/stylesheets/base/_native.sass */
.content_underline_links a {
  text-decoration: underline;
}
/* line 28, ../../../app/stylesheets/base/_native.sass */
.content_underline_links a.external {
  text-decoration: none !important;
}
/* line 30, ../../../app/stylesheets/base/_native.sass */
.content_underline_links a.external span {
  text-decoration: underline;
}
/* line 32, ../../../app/stylesheets/base/_native.sass */
.content_underline_links a.external span.ui-icon-extlink {
  text-decoration: none;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}

/* Tables
 * -------------------------------------------------------------- */
/* line 40, ../../../app/stylesheets/base/_native.sass */
table.stylized-table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 43, ../../../app/stylesheets/base/_native.sass */
table.stylized-table th {
  font-weight: bold;
}
/* line 45, ../../../app/stylesheets/base/_native.sass */
table.stylized-table th, table.stylized-table td, table.stylized-table caption {
  padding: 2px 5px 2px 2px;
}
/* line 47, ../../../app/stylesheets/base/_native.sass */
table.stylized-table tr.even td {
  background: #e5ecf9;
}
/* line 49, ../../../app/stylesheets/base/_native.sass */
table.stylized-table tfoot {
  font-style: italic;
}
/* line 51, ../../../app/stylesheets/base/_native.sass */
table.stylized-table caption {
  background: #eeeeee;
}

/* Sets up some sensible default typography. */
/* Default font settings.
 * The font-size percentage is of 16px. (0.75 * 16px = 12px) */
/* line 5, ../../../app/stylesheets/base/_typography.sass */
html {
  font-size: 100.01%;
}

/* line 7, ../../../app/stylesheets/base/_typography.sass */
body {
  font-size: 75%;
  color: #333333;
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

/* Headings
 * -------------------------------------------------------------- */
/* line 14, ../../../app/stylesheets/base/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #444444;
}

/* line 17, ../../../app/stylesheets/base/_typography.sass */
h1, h2 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

/* line 20, ../../../app/stylesheets/base/_typography.sass */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 24, ../../../app/stylesheets/base/_typography.sass */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 28, ../../../app/stylesheets/base/_typography.sass */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 32, ../../../app/stylesheets/base/_typography.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 36, ../../../app/stylesheets/base/_typography.sass */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* Text elements
 * -------------------------------------------------------------- */
/* line 41, ../../../app/stylesheets/base/_typography.sass */
p {
  margin: 0 0 1.5em;
}
/* line 44, ../../../app/stylesheets/base/_typography.sass */
p img.left {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 48, ../../../app/stylesheets/base/_typography.sass */
p img.right {
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
}

/* line 52, ../../../app/stylesheets/base/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 57, ../../../app/stylesheets/base/_typography.sass */
strong {
  font-weight: bold;
}

/* line 60, ../../../app/stylesheets/base/_typography.sass */
em {
  font-style: italic;
}

/* line 63, ../../../app/stylesheets/base/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 67, ../../../app/stylesheets/base/_typography.sass */
sup, sub {
  line-height: 0;
}

/* line 70, ../../../app/stylesheets/base/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 73, ../../../app/stylesheets/base/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 77, ../../../app/stylesheets/base/_typography.sass */
del {
  color: #666666;
}

/* line 80, ../../../app/stylesheets/base/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 83, ../../../app/stylesheets/base/_typography.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 3, ../../../app/stylesheets/base/_layout.sass */
body, html {
  height: 100%;
}

/* line 5, ../../../app/stylesheets/base/_layout.sass */
body {
  background: url("/images/body-bg.png") repeat-x top #e0e0e0;
}
/* line 9, ../../../app/stylesheets/base/_layout.sass */
body.no-headers {
  background: white;
}
/* line 11, ../../../app/stylesheets/base/_layout.sass */
body.no-headers #header, body.no-headers #topbar, body.no-headers #left-side, body.no-headers #breadcrumbs {
  display: none !important;
}
/* line 13, ../../../app/stylesheets/base/_layout.sass */
body.no-headers #footer {
  display: none;
}
/* line 15, ../../../app/stylesheets/base/_layout.sass */
body.no-headers #wrapper {
  margin: 0;
  min-width: 400px;
}
/* line 18, ../../../app/stylesheets/base/_layout.sass */
body.no-headers #main {
  margin: 0;
  border: 0 none;
  background-color: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 23, ../../../app/stylesheets/base/_layout.sass */
body.no-headers #content {
  padding-top: 0;
}

/* line 26, ../../../app/stylesheets/base/_layout.sass */
#wrapper-container {
  overflow: hidden;
}

/* line 29, ../../../app/stylesheets/base/_layout.sass */
#wrapper {
  margin: 0 21px;
  *zoom: 1;
}
/* line 22, ../../../../gems/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#wrapper:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 35, ../../../app/stylesheets/base/_layout.sass */
#main {
  position: relative;
  z-index: 10;
  background-color: white;
  border-left: 1px solid #dddddd;
  border-top: 0px solid #dddddd;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  margin-bottom: 40px;
  *zoom: 1;
  min-height: 450px;
}
/* line 22, ../../../../gems/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 47, ../../../app/stylesheets/base/_layout.sass */
#content {
  padding: 1em;
  overflow: hidden;
}

/* line 50, ../../../app/stylesheets/base/_layout.sass */
body.padless-content #content, #content.padless {
  padding: 0;
}

/* line 54, ../../../app/stylesheets/base/_layout.sass */
body.with-left-side #footer {
  margin-left: 175px;
}
/* line 56, ../../../app/stylesheets/base/_layout.sass */
body.with-left-side #wrapper {
  margin-left: 0;
}
/* line 58, ../../../app/stylesheets/base/_layout.sass */
body.with-left-side #left-side {
  display: block;
}
/* line 60, ../../../app/stylesheets/base/_layout.sass */
body.with-left-side #main {
  margin-left: 175px;
}

/* line 62, ../../../app/stylesheets/base/_layout.sass */
body.with-right-side.with-left-side {
  min-width: 985px;
}

/* line 66, ../../../app/stylesheets/base/_layout.sass */
body.with-right-side #right-side-wrapper {
  display: block;
  float: right;
}
/* line 70, ../../../app/stylesheets/base/_layout.sass */
body.with-scrolling-right-side #content, body.with-sidebar-pinned-to-bottom #content {
  padding-right: 329px;
}
/* line 72, ../../../app/stylesheets/base/_layout.sass */
body.with-scrolling-right-side #right-side-wrapper, body.with-sidebar-pinned-to-bottom #right-side-wrapper {
  position: absolute;
  right: 0;
  width: 316px;
}
/* line 77, ../../../app/stylesheets/base/_layout.sass */
body.with-scrolling-right-side #right-side {
  position: fixed;
  top: 0;
}
/* line 81, ../../../app/stylesheets/base/_layout.sass */
body.with-sidebar-pinned-to-bottom #right-side, body.with-sidebar-pinned-to-bottom #right-side-wrapper {
  bottom: 0;
}

/* line 86, ../../../app/stylesheets/base/_layout.sass */
#breadcrumbs {
  border-bottom: 1px solid #cccccc;
  background-color: #f9f9f9;
  -moz-box-shadow: #f2f2f2 0px 0px 36px 0;
  -webkit-box-shadow: #f2f2f2 0px 0px 36px 0;
  -o-box-shadow: #f2f2f2 0px 0px 36px 0;
  box-shadow: #f2f2f2 0px 0px 36px 0;
}
/* line 90, ../../../app/stylesheets/base/_layout.sass */
#breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 0 10px;
  color: #595959;
  font-size: 13px;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
/* line 28, ../../../app/stylesheets/mixins/_misc.sass */
#breadcrumbs ul li {
  margin: 0;
  padding: 0;
}
/* line 98, ../../../app/stylesheets/base/_layout.sass */
#breadcrumbs ul li {
  float: left;
  height: 27px;
  line-height: 2.1em;
  padding-left: 18px;
  margin: 0;
  margin-left: 1px;
  background: url(/images/breadcrumb-right-chevron.png) left 50% no-repeat;
}
/* line 107, ../../../app/stylesheets/base/_layout.sass */
#breadcrumbs ul li:first-child {
  background: none;
  padding-left: 0;
  margin-left: 0;
}
/* line 113, ../../../app/stylesheets/base/_layout.sass */
#breadcrumbs a {
  color: inherit;
}
/* line 115, ../../../app/stylesheets/base/_layout.sass */
#breadcrumbs a:hover, #breadcrumbs a:focus {
  background-color: transparent;
  text-decoration: underline;
}
/* line 119, ../../../app/stylesheets/base/_layout.sass */
#breadcrumbs .ellipsis {
  display: inline-block;
}
/* line 122, ../../../app/stylesheets/base/_layout.sass */
#breadcrumbs ul li.home a {
  background: url(/images/breadcrumb-home.png) no-repeat left 50%;
  display: block;
  width: 10px;
  height: 27px;
}
/* line 127, ../../../app/stylesheets/base/_layout.sass */
#breadcrumbs ul li.home a span {
  display: none;
}

/* line 130, ../../../app/stylesheets/base/_layout.sass */
#footer {
  color: #5c5c5c;
  font-size: 11px;
  margin: 0 15px 34px;
}
/* line 134, ../../../app/stylesheets/base/_layout.sass */
#footer img {
  vertical-align: bottom;
  padding: 0 20px 3px 0;
}

/* line 139, ../../../app/stylesheets/base/_layout.sass */
#footer-links a {
  border-left: 1px solid #5c5c5c;
  color: #5c5c5c;
  margin-right: 0.4em;
  padding-left: 0.4em;
}
/* line 144, ../../../app/stylesheets/base/_layout.sass */
#footer-links a:hover, #footer-links a:focus {
  text-decoration: underline;
}
/* line 147, ../../../app/stylesheets/base/_layout.sass */
#footer-links a:first-child {
  border-left: none;
}

/* line 177, ../../../app/stylesheets/base/_layout.sass */
.hightlight {
  background-color: #ffffcc;
}

/* line 181, ../../../app/stylesheets/base/_layout.sass */
.small {
  font-size: 11px;
}

/* line 185, ../../../app/stylesheets/base/_layout.sass */
.gray {
  color: #999999;
}

/* line 1, ../../../app/stylesheets/base/_#header.sass */
#skip_navigation_link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: white;
  background-color: #dc3f3f;
  border: 1px dashed white;
  font-size: 12px;
  padding: 1px;
}
/* line 13, ../../../app/stylesheets/base/_#header.sass */
#skip_navigation_link:focus {
  left: 0;
  width: auto;
  height: auto;
  z-index: 1;
}

/* line 19, ../../../app/stylesheets/base/_#header.sass */
#header-logo, #header.no-user #header-logo {
  background: url("/images/canvas/header_canvas_logo.png") no-repeat;
  width: 135px;
  height: 26px;
  left: 16px;
  bottom: 21px;
  position: absolute;
  text-indent: -9999px;
  outline: none;
}

/* line 28, ../../../app/stylesheets/base/_#header.sass */
#header-logo-secondary {
  display: none;
  background: url("/images/canvas/header_canvas_logo.png") no-repeat;
  width: 135px;
  height: 26px;
  right: 26px;
  bottom: 6px;
  position: absolute;
}

/* line 37, ../../../app/stylesheets/base/_#header.sass */
#header {
  position: relative;
  z-index: 11;
  padding-top: 26px;
  background: url("/images/canvas/header_bg.png") 0 0 repeat-x;
}
/* line 42, ../../../app/stylesheets/base/_#header.sass */
#header.no-user {
  background-position: 0 -25px;
  min-height: 20px;
}
/* line 45, ../../../app/stylesheets/base/_#header.sass */
#header.no-user #header-logo {
  top: 11px;
  left: 6px;
}
/* line 48, ../../../app/stylesheets/base/_#header.sass */
#header.no-user #header-logo-secondary {
  display: none;
}

/* line 51, ../../../app/stylesheets/base/_#header.sass */
#topbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}

/* line 58, ../../../app/stylesheets/base/_#header.sass */
#identity {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  font-size: 12px;
  margin-right: 22px;
  margin-bottom: 4px;
  padding: 1px 11px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px 0;
  background-color: #e3e8e5;
}
/* line 28, ../../../app/stylesheets/mixins/_misc.sass */
#identity li {
  margin: 0;
  padding: 0;
}
/* line 69, ../../../app/stylesheets/base/_#header.sass */
#identity li {
  float: left;
  border-left: 1px solid #d5dcd8;
  line-height: 1em;
  margin: 5px 8px 5px 0;
  padding-left: 8px;
}
/* line 75, ../../../app/stylesheets/base/_#header.sass */
#identity li.first, #identity li.feedback {
  border-left: none;
}
/* line 77, ../../../app/stylesheets/base/_#header.sass */
#identity .no-left-border {
  border-left: none;
}
/* line 79, ../../../app/stylesheets/base/_#header.sass */
#identity .user_name {
  border-left: none;
  margin-right: 15px;
}
/* line 82, ../../../app/stylesheets/base/_#header.sass */
#identity .user_name a {
  color: #444444 !important;
  text-decoration: none !important;
}
/* line 86, ../../../app/stylesheets/base/_#header.sass */
#identity a {
  color: #4c7092;
}
/* line 89, ../../../app/stylesheets/base/_#header.sass */
#identity .inbox a {
  text-decoration: none;
}
/* line 92, ../../../app/stylesheets/base/_#header.sass */
#identity .inbox a:hover span, #identity .inbox a:active span {
  text-decoration: underline;
}
/* line 95, ../../../app/stylesheets/base/_#header.sass */
#identity .inbox a .unread-messages-count {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #4c7092;
  color: #e3e8e5;
  padding: 1px 6px;
}
/* line 100, ../../../app/stylesheets/base/_#header.sass */
#identity #feedback_link {
  color: white !important;
  background-color: orange;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 2px;
  border: 1px solid #e79900;
}

/* line 107, ../../../app/stylesheets/base/_#header.sass */
#menu {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  padding-top: 3px;
  margin-left: 175px;
}
/* line 22, ../../../../gems/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#menu:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 28, ../../../app/stylesheets/mixins/_misc.sass */
#menu li {
  margin: 0;
  padding: 0;
}

/* line 113, ../../../app/stylesheets/base/_#header.sass */
.menu-item {
  display: block;
  float: left;
  position: relative;
}
/* line 117, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-title, .menu-item .menu-item-no-drop {
  border: 1px solid transparent;
  border-bottom: 0 none;
  color: #747575;
  display: block;
  padding: 6px 17px 5px;
  text-decoration: none;
  position: relative;
  z-index: 100;
  height: 29px;
  font-size: 17px;
}
/* line 129, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-no-drop:hover {
  text-decoration: underline;
}
/* line 131, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-title {
  background: url("/images/canvas/menu_arrow.png") no-repeat right 17px;
  padding-right: 27px;
}
/* line 135, ../../../app/stylesheets/base/_#header.sass */
.menu-item.hover .menu-item-title {
  border-top-color: #cccccc;
  border-left-color: #cccccc;
  border-right-color: #cccccc;
  background-color: #f3f4f5;
}
/* line 141, ../../../app/stylesheets/base/_#header.sass */
.menu-item.hover .menu-item-drop {
  left: 0;
}
/* line 145, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop {
  border: 1px solid #cccccc;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f3f4f5), color-stop(100%, #e7e7e8));
  background-image: -moz-linear-gradient(top, #f3f4f5 0%, #e7e7e8 100%);
  background-image: linear-gradient(top, #f3f4f5 0%, #e7e7e8 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 7px 7px 9px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 7px 7px 9px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 7px 7px 9px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 7px 7px 9px 0;
  background-color: #f3f4f5;
  background-repeat: repeat-x;
  background-position: top left;
  padding: 6px 0;
  top: 40px;
  z-index: 99;
  font-size: 13px;
  overflow: hidden;
  position: absolute;
  left: -99999999px;
}
/* line 162, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop .menu-item-drop-padded {
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 168, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop .menu-item-drop-float-right {
  font-family: "ff-clifford-eighteen-web-pro-1", "ff-clifford-eighteen-web-pro-2", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  float: right;
  white-space: nowrap;
}
/* line 176, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop .menu-item-drop-column {
  padding: 0 12px;
  border-left: 1px dotted #cccccc;
  min-width: 270px;
  width: 270px;
  vertical-align: top;
}
/* line 182, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop .menu-item-drop-column h2 {
  font-size: 1.2em;
  margin-top: 0;
}
/* line 185, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop .menu-item-drop-column:first-child {
  border-left: none;
}
/* line 187, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop .menu-item-drop-column .menu-item-drop-column-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 270px;
}
/* line 28, ../../../app/stylesheets/mixins/_misc.sass */
.menu-item .menu-item-drop .menu-item-drop-column .menu-item-drop-column-list li {
  margin: 0;
  padding: 0;
}
/* line 190, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop .menu-item-drop-column .menu-item-drop-column-list li {
  border-top: 1px dashed #cccccc;
}
/* line 192, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop .menu-item-drop-column .menu-item-drop-column-list li:hover {
  background-image: url("/images/4_percent_opacity.png");
}
/* line 196, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop .menu-item-drop-column .menu-item-drop-column-list li:hover .name {
  color: #30485f;
}
/* line 198, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop .menu-item-drop-column .menu-item-drop-column-list li a {
  display: block;
  font-size: 15px;
  line-height: 19px;
  padding-top: 2px;
  text-decoration: none;
  color: #456787;
}
/* line 205, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop li {
  font-size: 15px;
  line-height: 0.9em;
}
/* line 208, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop li .secondary-right, .menu-item .menu-item-drop li .subtitle {
  font-family: "ff-clifford-eighteen-web-pro-1", "ff-clifford-eighteen-web-pro-2", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #888888;
}
/* line 213, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop li .subtitle {
  display: block;
  color: #bcbcbc;
  font-size: 9px;
}
/* line 218, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop li:hover .secondary-right, .menu-item .menu-item-drop li:hover .subtitle {
  color: #555555;
}
/* line 220, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop li .name-right-wrapper {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 224, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop li .secondary-right {
  float: right;
  white-space: nowrap;
  font-size: 11px;
}
/* line 228, ../../../app/stylesheets/base/_#header.sass */
.menu-item .menu-item-drop li .name {
  display: block;
}

/* line 1, ../../../app/stylesheets/base/_#left-side.sass */
#left-side {
  float: left;
  width: 175px;
  background-color: #f2f5f7;
  display: none;
  font-size: 12px;
}
/* line 8, ../../../app/stylesheets/base/_#left-side.sass */
#left-side .left-side-inner {
  padding: 10px;
  margin-left: 5px;
}
/* line 12, ../../../app/stylesheets/base/_#left-side.sass */
#left-side #section-tabs-header {
  padding: 12px;
  margin: 0;
  font-size: 20px;
  font-family: Skolar, Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1;
}
/* line 18, ../../../app/stylesheets/base/_#left-side.sass */
#left-side #section-tabs-header-subtitle {
  color: #777777;
  font-size: 11px;
  font-family: "ff-clifford-eighteen-web-pro-1", "ff-clifford-eighteen-web-pro-2", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: -16px 12px 5px;
  display: block;
  text-decoration: none;
}

/* line 27, ../../../app/stylesheets/base/_#left-side.sass */
#section-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #c6c6c6;
}
/* line 34, ../../../app/stylesheets/base/_#left-side.sass */
#section-tabs li a {
  color: #4b7092;
  display: block;
  font-size: 14px;
  padding: 5px 0 5px 25px;
  border-bottom: 1px solid #d0d0d0;
  text-shadow: 1px 2px 3px #cbcbcb;
}
/* line 42, ../../../app/stylesheets/base/_#left-side.sass */
#section-tabs li a:hover, #section-tabs li a:focus {
  background-color: #dee2e4;
  z-index: 0;
  position: static;
  text-decoration: none;
}
/* line 50, ../../../app/stylesheets/base/_#left-side.sass */
#section-tabs li.hidden a {
  color: #aaaaaa;
}

/* line 53, ../../../app/stylesheets/base/_#left-side.sass */
body.home #section-tabs li a.home,
body.pages #section-tabs li a.pages,
body.assignments #section-tabs li a.assignments,
body.quizzes #section-tabs li a.quizzes,
body.grades #section-tabs li a.grades,
body.people #section-tabs li a.people,
body.groups #section-tabs li a.groups,
body.discussions #section-tabs li a.discussions,
body.announcements #section-tabs li a.announcements,
body.chat #section-tabs li a.chat,
body.modules #section-tabs li a.modules,
body.syllabus #section-tabs li a.syllabus,
body.statistics #section-tabs li a.statistics,
body.permissions #section-tabs li a.permissions,
body.sub-accounts #section-tabs li a.sub-accounts,
body.terms #section-tabs li a.terms,
body.courses #section-tabs li a.courses,
body.conferences #section-tabs li a.conferences,
body.files #section-tabs li a.files,
body.authentication #section-tabs li a.authentication,
body.sis-import #section-tabs li a.sis-import,
body.users #section-tabs li a.users,
body.settings #section-tabs li a.settings,
body.profile #section-tabs li a.profile,
body.communication-preferences #section-tabs li a.communication-preferences,
body.outcomes #section-tabs li a.outcomes,
body.rubrics #section-tabs li a.rubrics,
body.faculty-journal #section-tabs li a.faculty-journal,
body.eportfolios #section-tabs li a.eportfolios {
  position: relative;
  background-color: white;
  margin-right: -1px;
  position: relative;
  z-index: 11;
  padding: 7px 0 7px 23px;
  font-size: 17px;
}

/* line 1, ../../../app/stylesheets/base/_#right-side.sass */
#right-side-wrapper {
  display: none;
}

/* line 4, ../../../app/stylesheets/base/_#right-side.sass */
#right-side {
  width: 300px;
  margin-bottom: 1em;
  padding-bottom: 20px;
  -moz-box-shadow: #e8e8e8 -3px 3px 32px 0;
  -webkit-box-shadow: #e8e8e8 -3px 3px 32px 0;
  -o-box-shadow: #e8e8e8 -3px 3px 32px 0;
  box-shadow: #e8e8e8 -3px 3px 32px 0;
  margin-left: 15px;
  background-color: #f3f4f5;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #595959;
  min-height: 20px;
}
/* line 17, ../../../app/stylesheets/base/_#right-side.sass */
#right-side hr {
  border: dotted #aaaaaa;
  border-width: 1px 0 0;
  margin: 17px 0 20px;
}
/* line 21, ../../../app/stylesheets/base/_#right-side.sass */
#right-side h2 {
  font-size: 1.12em;
  padding: 7px 10px 7px 15px;
  font-weight: normal;
  color: white;
  background-color: #8a8a8a;
  margin-bottom: 8px;
  text-shadow: -1px -1px rgba(100, 100, 100, 0.4) 1px;
}
/* line 29, ../../../app/stylesheets/base/_#right-side.sass */
#right-side h2 a {
  color: white;
}

/* line 31, ../../../app/stylesheets/base/_#right-side.sass */
.rs-match-list-indent {
  padding-left: 31px;
}

/* line 33, ../../../app/stylesheets/base/_#right-side.sass */
.rs-margin-lr {
  margin: 0 20px;
}

/* line 35, ../../../app/stylesheets/base/_#right-side.sass */
.rs-margin-all {
  margin: 0 20px 20px;
  padding-top: 20px;
}

/* line 38, ../../../app/stylesheets/base/_#right-side.sass */
.rs-margin-top {
  padding-top: 20px;
}

/* line 40, ../../../app/stylesheets/base/_#right-side.sass */
.rs-margin-bottom {
  margin-bottom: 20px;
}

/* line 42, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 19px;
}
/* line 28, ../../../app/stylesheets/mixins/_misc.sass */
.right-side-list li {
  margin: 0;
  padding: 0;
}
/* line 48, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list li a {
  padding: 3px 0 0px 31px;
  display: block;
  background-position: left 7px;
}
/* line 53, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list li a:hover, .right-side-list li a:focus {
  text-decoration: none;
}
/* line 55, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list li a:hover b, .right-side-list li a:hover.more_link, .right-side-list li a:focus b, .right-side-list li a:focus.more_link {
  text-decoration: underline;
}
/* line 57, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list li a:hover em, .right-side-list li a:focus em {
  color: #666666;
}
/* line 59, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list li small {
  padding: 3px 0 0px 31px;
  display: block;
  color: #666666;
  font-size: 1em;
}
/* line 64, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list li b, .right-side-list li em {
  font-weight: normal;
  display: block;
}
/* line 67, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list li em, .right-side-list li .more_link {
  font-family: "ff-clifford-eighteen-web-pro-1", "ff-clifford-eighteen-web-pro-2", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 10px;
  line-height: 13px;
}
/* line 73, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list li em {
  color: #bcbcbc;
  border-bottom: 1px dotted #aaaaaa;
  padding-bottom: 5px;
}
/* line 77, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list li .more_link {
  padding-top: 6px;
}
/* line 80, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list .tooltip .tooltip_wrap {
  left: -160px;
  width: 160px;
  height: 70px;
  top: 0;
  font-size: 0.9em;
  background-image: none;
}
/* line 87, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list .tooltip .tooltip_text {
  margin-right: 15px;
  min-height: 30px;
}
/* line 91, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list .tooltip .tooltip-carat {
  border-bottom: 7px solid transparent;
  border-left: 14px solid #444444;
  border-top: 7px solid transparent;
  display: block;
  margin-top: 12px;
  float: right;
  width: 1px;
  height: 1px;
}
/* line 101, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list.to-do-list li {
  position: relative;
}
/* line 104, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list.to-do-list li a.item b {
  padding-right: 20px;
}
/* line 106, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list.to-do-list li a.disable_item_link {
  opacity: 0.3;
  -ms-filter: alpha(Opacity=30);
  filter: alpha(Opacity=30);
  padding: 0;
  position: absolute;
  background-image: none;
  right: 0;
  top: 0;
  z-index: 2;
}
/* line 115, ../../../app/stylesheets/base/_#right-side.sass */
.right-side-list.to-do-list li:hover a.disable_item_link {
  opacity: 1;
  -ms-filter: alpha(Opacity=100);
  filter: alpha(Opacity=100);
}
